body{
	margin:0;
	padding: 0;
	font-family:'Roboto', sans-serif;
	background-color:rgb(234,239,246);
	font-size: 14px;
}

/*----------------------banner--------------------------*/
.nav{
	position: relative;
	z-index:150;
	height: 50px;
	/*padding-left:15px;*/
	background-color:rgb(28,139,193);
	margin-left: 17%;
}

.notification{
	font-size: 20px;
	margin-left: 95%;
	margin-top: 10px;
}

.notification a{
	text-decoration: none;
	color: #fff;
	padding-left: 10px;
}

.dropdown{
	margin-left: 91%;
	margin-top: -25px;
}

.dropdown a{
	color: #fff;
	text-decoration: none;
	padding-left: 10px;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {

	background-color:transparent;
	/*border-color: #337ab7;*/

}

.dropdown-menu{
	min-width: 24%;
	/*background-color: rgb(28,139,193);*/
	/*color: #fff;*/
}


/*----------------------banner--------------------------*/

/*----------------------sidebar--------------------------*/
.sidebar{
	position:absolute;
	z-index:200;
	left: 0;
	width:17%;
	height:100%;
	background-color:rgb(20,40,44);
}

.sidebar-top{
	width: 100%;
	height: 50px;
	background-color: rgb(26,126,174);
}

.sidebar-top p{
	margin-left: 57px;
	padding-top: 10px;
	font-size: 20px;
	color: #fff;
}

.sidebar-middle{
	width: 100%;
	height: 50px;
}

.sidebar-middle i{
	color: #fff;
	font-size: 40px;
	margin-left: 10px;
	margin-top: 5px;
}

.sidebar-middle p{
	float: right;
	margin-right: 40px;
	margin-top: 10px;
	color:#fff;
}

.sidebar-inside{
	/*text-decoration: none;*/
	list-style-type: none;
	margin-top: 10px;
	padding: 0;
}

.sidebar-inside a{
	text-decoration: none;
}

.sidebar-inside li{
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.sidebar-inside i{
	float: left;
	font-size:30px;
	color:#fff;
}

.sidebar-inside p{
	display: block;
	position: relative;
	color: #fff;
	padding-left: 45px;
	padding-top: 7px;
}

.sidebar-inside li:hover{
	background-color:rgb(28,139,193);
}
/*----------------------sidebar--------------------------*/

/*----------------------content--------------------------*/
.content{
	position: relative;
	z-index: 130;
	width: 83%;
	padding-left: 17%;
	background-color:rgb(234,239,246);
}


.list-of-class{
	width: 122%;
	height: 30px;
	background-color: #fff;
	padding-left: 9px;
	padding-top: 5px;
	margin-left: 15px;
	margin-top: 9px;
	border:1px solid rgb(235,235,235);
	border-radius: 3px;
}

.main-content{
	width: 122%;
	height: 100%;
	background-color: #fff;
	margin:9px 0 0 15px;
	padding:10px 0 5px 9px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
}

.select-class{
	margin-left: 10px;
}

.select-class select{
	width:15%;
	margin-left: 6px;
}

.show-entries{
	margin-left: 10px;
	margin-top: 10px;
}

.add-student button{
	float: right;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom:10px;
	background-color: rgb(26,126,174);
	color: #fff;
}
.add-exam button{
	float: right;
	margin-top: 5px;
	margin-right: 105px;
	margin-bottom:5px;
	background-color: rgb(26,126,174);
	color: #fff;
}
.add-detail-mark button{
	float: right;
	margin-top: -20px;
	margin-right: 125px;
	margin-bottom:5px;
	background-color: rgb(26,126,174);
	color: #fff;
}
.add-detail-mark{
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.print{
	float: right;
	margin-top: -40px;
	margin-right: 15px;
}
.printdropdown{
	width: 100%;
}

.student-search-box{
	float: left;
	margin-top: -40px;
	margin-right: 15px;
}
.search-button{
	height:26px;
	background-color: #fff;
	margin-top:0px;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 0px;
	float: right;
	border:1px solid;
	color:gray;
	border-color: gray;
	border-left:none;
}

.table{
	width: 99%;
	margin-top: 20px;
}

.detail{
	background-color: green;
	color: #fff;
	/*border-radius: 4px;*/
	border:none;
	margin-left:7px;
}

.delete{
	background-color: rgb(26,126,174);
	color: #fff;
	/*border-radius: 4px;*/
	border:none;
}

.edit{
	background-color: orange;
	color: #fff;
	/*border-radius: 4px;*/
	border:none;
}

.page{
	float: right;
	margin-right: 15px;
	margin-top: 5px;
}

.pagination > li > a:hover{
	background-color: rgb(26,126,174);
	color: #fff;
}

/*--------------modal---------------*/

/*-----logout-------*/
.modal-logout{
	width: 300px;
	height: 120px;
	margin-left: 25%;
	box-shadow:  0 4px 8px 0 gray ,0 6px 20px 0 gray;
}
.modal-content{
	width: 300px;
	margin-left: 25%;
	box-shadow:  0 4px 8px 0 gray ,0 6px 20px 0 gray;
}

.content-modal-title{
	width: 100%;
	height: 50px;
	background-color: rgb(28,139,193);
}
.content-modal-title h3{
	color: #fff;
	padding-top: 10px;
	margin-top: 0;
}
.modal-save{
	padding: 15px;
	padding-top:0px;
	text-align: right;
}
.modal-save button{
	margin-top: 5%;
	color: #fff;
	background-color: rgb(26,126,174);
	border-color: rgb(240,240,240);
}

.modal-save button:hover{
	background-color: #fff;
	color: rgb(26,126,174);
	border-color:  rgb(26,126,174);
}

.modal-inside label{
	margin-left:30px;
	margin-top: 25px;
	font-weight: normal;
	font-size: 15px;
}

.modal-inside input{
	border:none;
	border-bottom:1px solid gray;
	border-radius: 0;
	width: 80%;
	margin-bottom: 5px;
	margin-left:30px;
}

.modal-header{
	background-color: rgb(28,139,193);
	border-bottom: none;
	height: 45%;
}

.modal-title{
	text-align: center;
}

.logout-modal{
	margin-left: 30%;
	border-top: none;
}

.logout-modal button{
	margin-top: 5%;
	color: #fff;
	background-color: rgb(26,126,174);
	border-color: rgb(240,240,240);
}

.logout-modal button:hover{
	background-color: #fff;
	color: rgb(26,126,174);
	border-color:  rgb(26,126,174);
}
.add-subject{
	width:50%;
}
.subject_title{
	margin-left:450px;
	margin-top:40px;
}
.add_new{
	width: 40%;
	height: 100%;
	display: block;
	margin-left: 350px;
	margin-top:20px;
	padding: 20px 50px 50px 50px;
	position: relative;
	background-color: #fff;
}
.subject_create label{
	display: block;
	margin-left: 30px;
	margin-top: 25px;
	font-weight: normal;
	font-size: 15px;
}
.subject_create input{
	border:none;
	border-bottom:1px solid gray;
	border-radius: 0;
	width: 80%;
	margin-bottom: 5px;
	margin-left:30px;
}
.checkbox_create label{
	margin-left: 30px;
	margin-top: 25px;
	font-weight: normal;
	font-size: 15px;
}
.checkbox_name{
	display: block;
	margin-left: 30px;
	margin-top: 25px;
	font-weight: normal;
	font-size: 15px;
}
.modal-subject-save{
	padding: 15px;
	padding-bottom: 0px;
	text-align: right;
}
.modal-subject-save button{
	margin-top: 5%;
	color: #fff;
	background-color: rgb(26,126,174);
	border-color: rgb(240,240,240);
}

.modal-subject-save button:hover{
	background-color: #fff;
	color: rgb(26,126,174);
	border-color:  rgb(26,126,174);
}

.modal-inside.dropdown{
	margin-left: 0px !important;
}

.modal-inside .dropdown-menu{
	margin-left:30px;
	font-weight: normal;
	font-size: 13px;
	min-width: 80%;
	border: none;
}

.modal-inside .dropdown-menu .dropdown-item{
	padding-left: 20px;
	cursor: pointer;
}
.static{
	background-color: #fff;
}
.modal-inside-image{
	border: none;
	border-radius: 0;
	width: 80%;
	margin-bottom: 5px;
	margin-left: 30px;
}
.modal-inside-image label {
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 15px;
}
.modal-inside select{
	border-radius: 0;
	width: 80%;
	height: 30px;
	margin-bottom: 5px;
	margin-left:30px;
}
.modal-student-content {
	width: 600px;
	margin-left: 25%;
	box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
	background-color: #fff;
}
.student-select-class{
	margin-left: 10px;
	margin-top:20px;
}
.student-select-class label{
	display:block;
}
.error{
	display:block;
	color:red;
	margin-left:30px;
}
.pdf-header h2,h4{
	margin-top:20px;
	font-weight:bold;
	text-align: center;
}
.pdf-student{
	width:40%;
	float:left;
}
.pdf-student label{
	display: block;
	padding-top:10px;
	font-size:15px;
	margin-left:70px;
}
.pdf-faculty{
	width:40%;
	float: right;
}
.pdf-faculty label{
	display: block;
	padding-top:10px;
	font-size:15px;
	margin-left:15px;
}
.pdf-transcript{
	display:block;
	margin-top:200px;
	margin-left:70px;
}
.pdf-transcript table{
	border-right:2px solid #000;
}
.pdf-transcript th,td{
	padding-right:80px;
	text-align: left;
}
#close{
	margin-right: -5px;
}
/*-----login-------*/
.login-form{
	width: 325px;
	height: 380px;
	border:none;
	border-radius: 5px;
	margin-left: 40%;
	margin-top: 140px;
	background-color: #fff;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}

.login-form h3{
	text-align: center;
	padding-top:60px;
}

.login-list{
	margin-top: 30px;
}

.login-control input{
	width: 82%;
	height: 40px;
	margin-left: 30px;
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: rgb(240,240,240);
}

.login-control input:focus{
	color: #000;
}

.login-control button{
	width: 82%;
	height: 40px;
	margin-left: 30px;
	margin-top: 20px;
	color: #fff;
	background-color: rgb(26,126,174);
	border: none;
	border-radius: 5px;
}

/*--------------modal----------------*/

/*----------------------content--------------------------*/

/*----------------------Student ID CARD GENERATOR--------------------------*/
.wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 200;
	background-color:rgb(234,239,246);
}

.img_print{
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 0;
}

#img-out{
	display: none;
}

#generated_card{
	width: 450px;
	margin-top: 5em;
	margin-left:35%;
	padding: 10px 20px;
}

.modal-card{
	width: 380px;
	margin:20px 15px;
	border: 1px solid rgba(233,233,233,0.8);
}
.modal-card-header {
	background-color: rgb(28,139,193);
	border-bottom: none;
	height: 55px;
	color: #fff;
	text-align: center;
	padding-top: 2%;
}
.modal-card-header img{
	float: left;
	margin-left:30px;
	padding-bottom:4px;
}
.modal-card-header h5{
	padding-right:50px;
}
.modal-card-content{
	border-bottom: none;
	padding-top: 1%;
}
.modal-card-content > h4{
	margin-top:0px;
}

.student-card-data{
	margin-top:0px;
	display: flex;
	margin-bottom: 0.5em;
}

.card-data {
	width: 300px;
}

.card-data label{
	display: block;
	margin-left:10px;
	font-size: 16px;
	padding-top:3px;
	font-weight:bold;
}

.student-card-data>img{
	display: inline-flex;
	margin-right:15px;
}
.card-date{
	display: inline;
	font-size:15px;
}
#expire_date_label{
	float: right;
	margin-right:13px;
}
#issue_date_label{
	margin-left:10px;
	padding-right:25px;
}
.card-logout-modal{
	margin-left: 58%;
	border-top: none;
}
.card-logout-modal button {
	margin-top: 5%;
	color: #fff;
	background-color: rgb(26,126,174);
	border-color: rgb(240,240,240);
}
.card-logout-modal button:hover{
	background-color: #fff;
	color: rgb(26,126,174);
	border-color:  rgb(26,126,174);
}