.modal-card{
    width: 500px;
    margin-left: 25%;
    border: 1px solid rgba(233,233,233,0.8);
}
.modal-card-header {
    background-color: rgb(28,139,193);
    border-bottom: none;
    height: 70px;
    color: #fff;
    text-align: center;
    padding-top: 5%;
}
.modal-card-content{
    border-bottom: none;
    padding-top: 5%;
}
.modal-card-content > h2{
    margin-top:0px;
}

.student-card-data{
    display: flex;
    margin-bottom: 2em;
}

.card-data {
    width: 330px;
}

.card-data label{
    display: block;
    margin-left:30px;
    font-size: 25px;
    padding-top:15px;
    font-weight:bold;
}

.student-card-data>img{
    display: inline-flex;
}

